<section class="home-section pt-24 pb-6">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-4">
      <div class="profile-image-container">
        <div class="profile-image">
          <img src="../../../../assets/images/9cf1760b-828c-4094-84bd-8b748ac1ebcb.jfif" alt="Profile" class="img-fluid" />
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="profile-text">
        <h2 class="text-one">Hello<span class="wave">👋</span></h2>
        <h1 class="profile-name">I'm Sayed</h1>
        <h2 class="text-two"><span class="typed-text" id="typed-text"></span></h2>
        <p class="bio">Emphasizing practical implementations over theoretical concepts.</p>
       
        <div class="social-links">
          <a href="https://github.com/sayedmohameddev" class="social-link"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/sayed-mohamed-81b66b290/" class="social-link"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://wa.me/201150778216" class="social-link"><i class="fa-brands fa-whatsapp"></i></a>
          
        </div>
      </div>
    </div>
  </div>
</section>